name: C/C++ CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
        matrix:
            os: [ubuntu-22.04, windows-latest, ubuntu-20.04]

    steps:
    - uses: actions/checkout@v3
    - name: make
      run: make
