name: VersionRelease

# Controls when the workflow will run
on:
  # Triggers the workflow on push for the "main" branch
  push:
    branches:
      - 'main'

permissions:
  contents: write

# This workflow bumps version and if changes are bigger, creates a release
jobs:
  # This workflow contains a two jobs
  BumpVersion:
    if: github.event.commits[0].author.name != 'GitHubActions'
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
      changelog: ${{ steps.tag_version.outputs.changelog }}
      release_type: ${{ steps.tag_version.outputs.new_tag.release_type }}
    steps:
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Show outputs
        run: |
          echo "${{ steps.tag_version.outputs.new_tag }}"
          echo "${{ steps.tag_version.outputs.changelog }}"
          echo "${{ steps.tag_version.outputs.release_type }}"       
          
  Compress-Build-Release:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    needs: BumpVersion
    #check if it is not quickfix
    if: ${{needs.BumpVersion.outputs.release_type}} != 'patch'

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Show version type
        run: echo ${{needs.BumpVersion.outputs.release_type}}
        
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Go to src
        run: cd src

      - name: Rename .c and .h files
        run: find ./ -type f \( -iname \*.h -o -iname \*.c \) -execdir bash -c 'mv "$1" "inf151817_151841_${1#./}"' mover {} \;

      - name: Show result
        run: ls -l

      - name: Exit src
        run: cd ..

      - name: Compress source files
        run: tar --exclude="./*.gz" --exclude=".*" -czvf Mateusz.Chlebosz.151817.Jakub.Aszyk.151841.tar.gz *

      - name: Download GCC
        run: sudo apt install build-essential

      - name: Check GCC
        run: gcc --version

      - name: Build
        run: make

      - name: Compress build
        run: tar -czvf Binaries.tar.gz bin/.

      - name: Show result
        run: ls -l

      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "Mateusz.Chlebosz.151817.Jakub.Aszyk.151841.tar.gz,Binaries.tar.gz"
          tag: ${{ needs.BumpVersion.outputs.new_tag }}
          name: Release ${{ needs.BumpVersion.outputs.new_tag }}
          body: ${{ needs.BumpVersion.outputs.changelog }}
